:root {
  --color-veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
  --color-softRed: hsl(14, 88%, 65%);

  --color-softViolet: hsl(273, 75%, 66%);
  --color-softBlue: hsl(240, 73%, 65%);

  --color-veryDarkDesaturatedBlue: hsl(237, 12%, 33%);
  --color-darkGrayishBlue: hsl(240, 6%, 50%);

  --color-lightGrayishBlue: hsl(240, 5%, 91%);
}
.hidden {
  display: none;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: linear-gradient(var(--color-softViolet), var(--color-softBlue));
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 10rem 1rem;
}
.faq-card {
  padding: 0 2rem;
  background-color: white;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}
.popout-container {
  position: relative;
}
.popout-container > .mobile-lady {
  --Xtranslate: -50%;
  --Ytranslate: 40%;
  position: absolute;
  z-index: 1;
  width: 260px;
  left: 50%;
  bottom: 100%;
  transform: translate(var(--Xtranslate), var(--Ytranslate));
}
.mobile-shadow {
  margin: auto;
  transform: scale(1.1);
}
.faq__dropdowns {
  padding: 2rem 0;
}
.dropdowns__title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}
